{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>
Marine Analytics Platform
</title>


<link rel="stylesheet" href="{% static 'css/launcher.css' %}">


</head>


<body>


<div class="ocean-bg"></div>



<header>


<div class="logo">

⚓ NEU

</div>


<div class="title">

<h1>
Marine Analytics Platform
</h1>

<p>
AI-Powered Maritime Performance Intelligence
</p>

</div>


</header>




<section class="workspace">


<h2>
Select Your Workspace
</h2>



<div class="cards">



<div class="card active">


<div class="icon">
⛽
</div>


<h3>
Fuel Performance
</h3>


<p>
AI vessel fuel monitoring,
efficiency tracking and
performance insights
</p>


<a href="/fuel/" class="enter-btn">
    Enter Platform
</a>


</div>





<div class="card locked">


<div class="icon">
🧪
</div>


<h3>
Chemical Analytics
</h3>


<p>
Fuel additive evaluation
and optimisation
</p>


<span>
Coming Soon
</span>


</div>






<div class="card locked">


<div class="icon">
📋
</div>


<h3>
RightShip Intelligence
</h3>


<p>
Inspection analytics
and risk monitoring
</p>


<span>
Coming Soon
</span>


</div>






<div class="card locked">


<div class="icon">
📈
</div>


<h3>
Tunnel Prediction
</h3>


<p>
AI market forecasting
and contract analysis
</p>


<span>
Coming Soon
</span>


</div>



</div>


</section>





<footer>

Marine Intelligence Suite © 2026

</footer>



</body>

</html>